#slider {
    position: relative;
	width: 100%;
}

#templatemo_wrapper {
	width: 800px;
	margin: 0 auto;
	background: url(../images/templatemo_body.jpg) no-repeat top center;
	background-attachment:fixed;
}

#templatemo_social {
	width: 800px;
	height: 50px;
}

#templatemo_main {
	clear: both;
	width: 800px;
	padding: 30px 0;
	height: 580px;
}

#templatemo_sidebar {
	float: left;	
	width: 320px;
	position:fixed;
}

#templatemo_content {
	float: right;
	width: 500px;
	background-attachment:scroll;
}

#header h1 { 
	display: block;
	width: 315px;
	height: 166px; 
	padding: 0;
	margin-left:50px;
	right:-20px;
	margin-top: 25px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #ff58ff; text-decoration: none;
}

#menu {
	clear: both;
	float: right;
}

#templatemo_footer {
	clear: both;
	float: right;
	width: 360px;
	margin: 20px 40px;
	padding: 20px;
	text-align: left;
	background: #070105;
	border: 1px solid #26071d;
	position:relative;

}
#templatemo_footer a {
	color: #fff;
}

.scroll {
    width: 500px;
    height: 580px;
    overflow: scroll;
    /* overflow-x: hidden; */
    position: relative;
    clear: left;
}

.scrollContainer div.panel {
    width: 400px;
    height: 500px;
	padding: 40px 0px 40px 40px;
	margin-right:0;
	overflow: inherit;
}

ul.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.navigation li {
    margin: 0;
	padding: 0;
}

ul.navigation a {
	display: block;
	float: right;
	padding: 8px 15px;
	margin-bottom: 4px;
	font-size: 18px;
	font-weight: 400;
    text-decoration: none;
	color: #fff;
	text-align: right;
}

ul.navigation a:hover, ul.navigation a.selected {
	background: #0f020b
}

ul.navigation a:focus {
    outline: none;
}


.scrollButtons {
    position: absolute;
    top: 300px;
    cursor: pointer;
}

.scrollButtons.left {
    left: 0
}

.scrollButtons.right {
    right: 0
}

.hide {
    display: none;
}